@model UdemyWebSite.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<div class="jumbotron">
    <h2 class="display-3">@ViewData["Movie"]</h2>
    <p>@ViewData["CustomerName"], your movie is on 00:00 PM</p>
</div>
